<!DOCTYPE html>
<html>
<head>
  <title>Lab4 Index Page</title>
  <style>
    body { font-family: sans-serif; text-align: center; padding: 50px; }
    h1 { margin-bottom: 40px; }
    button {
      display: block;
      width: 250px;
      margin: 15px auto;
      padding: 15px;
      font-size: 18px;
      border: none;
      border-radius: 10px;
      background-color: #444;
      color: white;
      cursor: pointer;
    }
    button:hover {
      background-color: #222;
    }
  </style>
</head>
<body>
  <h1>Lab4 Index Page</h1>
  <button onclick="location.href='/data'">📤 upload data </button>
  <button onclick="location.href='/active'">👁️ who's there?</button>
  <button onclick="location.href='/control'">🛠️ manual control active page</button>
</body>
</html>
